.form-container {
  max-width: 500px;
  margin: 0 auto;
}

.mat-form-field {
  width: 100%;
  margin: 0.5rem 0;
}

.form-button-container {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form-button-container button {
  flex: 1;
}
