.mat-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 45px;
    height: 10%;
    border-bottom-right-radius: 45px;
}

.header-subtitle {
    margin-top: 10%;
    font-size: 2em;
    font-weight: bold;
}