/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
}

.container .page-title {
  text-align: center;
}

.button-new {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

nav.nav-bar {
  text-align: center;
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.mat-typography .mat-display-3 {
  margin: 0 0 20px;
}
