/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
}

.container .page-title {
  text-align: center;
}

.button-new {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
