/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem 0;
  padding-top: 0;
  text-align: center;
}

.page-title {
  text-align: center;
}

.button-new {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

nav.nav-bar {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  border-bottom-width: 1px;
}
